<% if current_user.id != @user.id %>
	<% render(:template => 'profiles/error') %>
<% end %>

<section id="services" class="service-item">
  <div class="container">
	<div class="center wow fadeInDown">
	  <br />
	  <h2>Your Profile</h2>
	</div>
  </div>
  </div>
</section>

<% if current_user==@user %>
	<% if @user.notifications.count>0%>
		<div class="panel panel-primary">
		  <div class="panel-heading">Messages</div>
		  <div class="panel-body">
			<% @user.notifications.each do |n|%>
				<div class="alert alert-info" role="alert">
				  <%= n.message %>
				</div>
			<%end%>
		  </div>
		</div>
	<%end%>
<%end%>

<div class="container-fluid">
	  <div class="col-lg-7">
		<font face="arial" size = 6px color="black">
		  <b><span class="label label-default">Registered username: </span></b><div class="well"><%= @user.name %></div><br>
		  <b><span class="label label-default">Registered Roll number: </span></b><div class="well"><%= @user.roll_no %></div><br>
		  <b><span class="label label-default">Registered Email-ID: </span></b><div class="well"><%= @user.email %></div><br>
		  <b><span class="label label-default">Registered Phone Number: </span></b><div class="well"><%= @user.phone_number %></div><br>
		</font>
	  </div>
	  	<div class="col-lg-5" style="background: black">
			<font face="arial" size = 6px color="black">

			  	<center><span class="label label-success">Events you have registered as captain or vice-captain </span></center><br>
					<%  @user.registrations.each do |t| %>
					    <p class="list-group-item list-group-item-danger"><%= link_to t.event.name, WEBLINK+'/game/'+t.event.name %></p>
					<% end %>
					<% if @user.teams.count >0%>
						<% @user.teams.where(isValid: 1).each do |t|%>
							<p class="list-group-item list-group-item-danger"><%= link_to t.event.name, WEBLINK+'/game/'+t.event.name %></p>
						<% end %>
					<% end %>
			  	<br>
					<center><span class="label label-success">Your schedule </span></center><br></center>
					<div style= "font-size:60%"><%= render 'grid_grid' %></div>

			</font>
	  	</div>
</div>
