
<section id="services" class="service-item" style="background-color: #93bb24;">
       <div class="container">
            <div class="center wow fadeInDown" >
                <h2 style="color: black; font-weight: bold; font-size: 3em">SPORTS</h2>
                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

            <div class="row">

                <% Event.all.each do |event| %>
                <% if event.event_type == INDIVIDUAL or event.event_type == TEAM%>
                <div class="wow fadeInUp">
                <div  class="col-sm-6 col-md-4  animations" onclick="location.href='<%= WEBLINK %>game/<%= event.name %>';" >
                    <div class="media "> 
                        <!-- <div class="pull-left"> -->
                            <center><%= image_tag event.icon , :class => "responsive"%></center>
                        </div>
                        <br>
                        
                        <div class="media-body ">
                                <% if event.description.to_s.length > 0 %>
                                <h3  class="media-heading" style="font-size: 2em;" ><%= event.name %></h3>

                                <% else %>
                                <h3 id="media-onhover" class="media-heading-alone"><%= event.name %></h3>
        
                                <% end %>
                        </div>
                    <!-- </div> -->
                </div>

                 <% end end %>
                 </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->
