<section id="services" class="service-item">
  <div class="container">
    <div class="center wow fadeInDown">
      <br><h2>Register for <%=@event.name%></h2>
    </div>
  </div>
</section>

<% if @event.event_type.to_i == 1 %>
    <%= form_tag WEBLINK + "game/"+@event.name + "/register/success", method: :post, :class => 'form-style-8' do %>

        <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this registration from being saved:</h2>
              <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="center wow fadeInDown">
            <div class="well">
                <h2>Rules</h2>
                <strong>The rules of the event is as follows:</strong><br>
                <br><%= raw @event.rules %><br>
            </div>
        </div>
        <br><br>
        <h3><%= @event.name %></h3>
        <div class="field">
            <%= label_tag :team_name %><br>
            <%= text_field_tag(:team_name) %>
        </div>
        <br>
        <% @TeamMates=[] %>
        <% $i=0 %>
        <center><h2>You are the captain of your team. Enter the email address of your vice captain</h2><br><br></center>
        <% @TeamMates.push(current_user[:name]) %>
        <% $i+=1 %>

        <% begin %>
            <div class="field">
              <%= label_tag ("Vice Cpatain") %><br>
              <%= text_field_tag "team_mates[]" %>
            </div><br>
            <% $i+=1 %>
        <% end until  $i == @event.maximum_team_size %>
        <br>
        <center><h3>I agree to abide by the rules given above and would like to register my team for this event</h3></center>

        <% if current_user.has_registered_for(@event.id)%>
            <div class="alert alert-danger">
                <center><h2>You have already registered for this event</h2></center><br>
            </div>
        <% else%>
            <center> <%= submit_tag "Register" %></center>
        <%end%>

    <% end %>

<% elsif @event.event_type.to_i == 0 %>
    <%= form_tag WEBLINK + "game/"+@event.name + "/register/success", method: :post, :class => 'form-style-8' do %>

        <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this registration from being saved:</h2>
              <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="center wow fadeInDown">
          <div class="well">
            <h2>Rules</h2>
            <strong>The rules of the event is as follows:</strong><br>
            <br><%= raw @event.rules %><br>
          </div>
        </div>
        <br><br>
        <%= hidden_field_tag :name, current_user[:name] %>
        <center><h3>I agree to abide by the rules given above and would like to register myself for this event</h3></center>
        <% if current_user.has_registered_for(@event.id)%>
            <div class="alert alert-danger">
                <center><h2>You have already registered for this event</h2></center><br>
            </div>
        <% elsif (Date.today>@event.last_date)%>
            <center><p>Registrations are closed now</p></center>
        <%else%>
            <center> <%= submit_tag "Register" %></center>
        <%end%>
    <% end %>

<% end %>