<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<body style="background-color: black">
<section id="services" class="service-item">
       	<div class="container-fluid">
            <div class="center wow fadeInDown hidden-xs">
                <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal" id="event-name" style="background:black;border-color: black; "><h1 style="font-size: 4em;text-transform: uppercase; font-weight: bold"><%= @event.name %></h1></button>
  			   </div>
           <div class="center wow fadeInDown visible-xs">
                <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal" id="event-name" style="background:black;border-color: black; "><h1 style="font-size: 2.5em;text-transform: uppercase;"><%= @event.name %></h1></button>
           </div>
	     </div>
                <div class="modal fade" id="myModal" role="dialog">
    				<div class="modal-dialog">
      					<div class="modal-content">
        					<div class="modal-header">
          						<button type="button" class="close" data-dismiss="modal">&times;</button>
          						<h4 class="modal-title"><%= raw @event.name %></h4>
        					</div>
        					<div class="modal-body">
          						<p><%= raw @event.description %></p>
          						<div class="alert alert-danger">
									<center><strong>Hurry Up! Last date to register is <%= raw @event.last_date %> </strong></center><br>
								</div>
        					</div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
      					</div>
            		</div>
    			</div>

</section> 
<hr style="background-color:  #93bb24;border-top:2px solid  #93bb24; margin-top: 0px">

 <!-- <div class="container"> -->
    <div class="col-md-1"></div>
  <!-- <div class="row" style="width:120%; margin-left:-6vw"> -->
    <div class="col-md-10">
    <div class="col-md-1">  </div>
    <div class="col-md-10">
      <ul class="nav nav-tabs nav-justified" id="hov">
        <li class="active" style="font-size: 1.5em"><a data-toggle="tab" href="#home" id="hov">Home</a></li>
        <li style="font-size: 1.5em"><a data-toggle="tab" href="#rules" id="hov">Rules</a></li>
        <li style="font-size: 1.5em"><a data-toggle="tab" href="#contact" id="hov">Contact Us</a></li>
        <li style="font-size: 1.5em"><a data-toggle="tab" href="#schedule" id="hov">Schedule</a></li>
        <li style="font-size: 1.5em"><a data-toggle="tab" href="#schedule-overall" id="hov">Overall Schedule</a></li> 
      </ul>
    </div>
    <div class="col-md-1">   </div>
  </div>
  <div class="col-md-1"></div>
<!-- </div> -->
<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="tab-content col-md-10">
	 
	  <div id="home" class="tab-pane fade">
	    <div class="center wow fadeInDown">
	    	<h2 style ="color: white; font-size: 2.6em; font-weight: bold"><center>Description</center></h2>
		    <p><h3>
		    	<div class="well" style="background-color: black;color: white; border: 1px solid black">
		    		<center><%=raw @event.description %></center>
		    	</div>
		    	<div class="alert alert-danger">
						<strong>Hurry Up! Last date to register is <%= raw @event.last_date %> </strong><br>
				</div>
		    </h3></p>
	  	</div>
	  	</div>
  	<div id="rules" class="tab-pane fade">
  		<div class="center wow fadeInDown">
	    	<h2 style ="color: white; font-size: 2.6em; font-weight: bold"><center>Rules</center></h2>
	  		<div class="well" style="background-color: black;color: white; border: 1px solid black">
			    	<strong style="font-size: 1.2em;">The rules of the event is as follows:</strong>
			    <p><h3 style="font-size: 1.7em;margin-top: 0px;color: white;">
			    	<%= raw @event.rules %><br>
			   	</h3></p>
			</div>
  		</div>
  	</div>
  	<div id="contact" class="tab-pane fade">
  		<div class="center wow fadeInDown">
	    	<h2 style ="color: white; font-size: 2.6em; font-weight: bold">Contact Details</h2>
	    	<div class="well" style="background-color: black;color: white; border: 1px solid black">
		    	<strong style="font-size: 1.2em">For any other queries regarding this event, you can contact: </strong><br>
		    	<p><h3 style="font-size: 1.7em;margin-top: 0px;color: white;">
					<%= raw @event.contact_details %><br>
		    	</h3></p>
	    	</div>
  		</div>
  	</div>
    <div id="schedule" class="tab-pane fade">
      <div class="center wow fadeInDown">
        <h2 style ="color: white; font-size: 2.6em; font-weight: bold">Schedule</h2>
        <%= form_tag("game_path",method: "get") do%>
        <div class="field" style="float:left">


        <div class="actions">

          <%end %>
        </div></div>
		<p style="color: white;font-size: 1.1em">NOTE: You can find all schedule related to you in your profile page. Schedule for LAN Gaming events, TT Doubles, TT MIxed Doubles, Badminton Doubles
		, Badminton Mixed Doubles might not appear on these pages. They will appear in profile of your captain. You can also try searching in Overall Schedule</p>
        <p style="color: white;font-size: 1.1em">Also note that after you search, your search parameter will be applied for both "Schedule for this Game" table and "Overall Schedule" table so after
		searching you can just switch tabs and check for your schedule</p>
		<%= render 'grid_grid'%>
        <!-- <div class="well">
          <p><h3>
          </h3></p>
        </div> -->
      </div>
    </div>

  <div id="schedule-overall" class="tab-pane fade">
	<div class="center wow fadeInDown">
	  <h2 style ="color: white; font-size: 2.6em; font-weight: bold">Schedule</h2>
		  <div class="field" style="float:left">


			<div class="actions">

	  </div></div>
	  <p style="color: white;font-size: 1.1em">NOTE: To search Enter your email ID in Player1 or Player2 column (For individual registration schedule)
	  and your captain email id in Player1 or Player2 column (For team registration schedule). Remember to search for
		desired email ID in both Player1 and Player2 Columns.
	  </p>
	  <p style="color: white;font-size: 1.1em">Also note that after you search, your search parameter will be applied for both "Schedule for this Game" table and "Overall Schedule" table so after
		searching you can just switch tabs and check for your schedule</p>
	  <%= render 'grid_schedule' %>
	 <!--  <div class="well">
		<p><h3>
	  </h3></p>
	  </div> -->
	</div>
  </div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="alert alert-success fade in col-md-10">
  <h2><center><strong>To register for this event, </strong><a href="<%= request.url %>/register">Click Here</a></center></h2>
</div>
</div>
</div>
<div class="col-sm-1"></div>
</div>
</body>