<html>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%=raw f.text_area :description %>
  </div>
  <div class="field"><br>
    <%= f.label :choose_event_icon %>
    <%= f.file_field :icon, as: :file%>
  </div>
  <div class="field">
    <%= f.label :rules %><br>
    <%=raw f.text_area :rules %>
  </div>
  <div class="field">
    <%= f.label :minimum_team_size %><br>
    <%= f.number_field :minimum_team_size %>
  </div>
  <div class="field">
    <%= f.label :maximum_team_size %><br>
    <%= f.number_field :maximum_team_size %>
  </div>
  <div class="field">
    <%= f.label :contact_details %><br>
    <%=raw f.text_area :contact_details %>
  </div>
  <div class="field">
    <%= f.label :last_date %><br>
    <%= f.date_select :last_date %>
  </div>
  <div class="field">
    <%= f.label(:event_type) %>
    <%= f.select(:event_type, [['INDIVIDUAL',INDIVIDUAL],['TEAM',TEAM],['CUSTOM',CUSTOM]]) %> <br />
  </div>
  <% @names = Array.new(6, "") %>
  <% @c=0 %>
  <%= User.where(spoc_event_id: @event.id).find_each do |user| %>
  <% @names[@c]=user.email %>
  <% @c=@c+1 %>
  <% end %>
  <div class="field">
    <%= label_tag :email_spoc1 %><br>
    <%= text_field_tag :email_spoc1, @names[0] %>
  </div>
  <div class="field">
      <%= label_tag :email_spoc2 %><br>
      <%= text_field_tag :email_spoc2, @names[1] %>
    </div>
  <div class="field">
        <%= label_tag :email_spoc3 %><br>
        <%= text_field_tag :email_spoc3, @names[2] %>
  </div>
  <div class="field">
          <%= label_tag :email_spoc4 %><br>
          <%= text_field_tag :email_spoc4, @names[3] %>
  </div>
  <div class="field">
    <%= label_tag :email_spoc5 %><br>
    <%= text_field_tag :email_spoc5, @names[4] %>
  </div>
  <div class="field">
    <%= label_tag :email_spoc6 %><br>
    <%= text_field_tag :email_spoc6, @names[5] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
$(function() {
$('#event_description').froalaEditor()
$('#event_rules').froalaEditor()
$('#event_contact_details').froalaEditor()

});
</script>
</html>
