<!--<p id="notice"><%= notice %></p>
-->
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%=raw @event.description %>
</p>

<p>
  <strong>Event Icon:</strong>
  <%= image_tag @event.icon %>
</p>

<p>
  <strong>Rules:</strong>
  <%=raw @event.rules %>
</p>

<p>
  <strong>Minimum team size:</strong>
  <%= @event.minimum_team_size %>
</p>

<p>
  <strong>Maximum team size:</strong>
  <%= @event.maximum_team_size %>
</p>

<p>
  <strong>Contact details:</strong>
  <%=raw @event.contact_details %>
</p>

<p>
  <strong>Last date:</strong>
  <%= @event.last_date %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>
<p>
  <strong>SPOC(s) of the event:</strong>
  <% User.where(spoc_event_id: @event.id).find_each do |user| %>
  <br>
  <p>
      <strong>Name: </strong>
      <%= user.name %>
  </p>
  <p>
    <strong>Email: </strong>
    <%= user.email %>
  <p>
  <br>
  <% end %>
</p>
<p>
  <%= @err1 %>
</p>
<p>
  <%= @err2 %>
</p>
<p>
  <%= @err3 %>
</p>
<p>
  <%= @err4 %>
</p>
<p>
  <%= @err5 %>
</p>
<p>
  <%= @err6 %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
