<!DOCTYPE html>
<html>
<head>
  <title>Spandan2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--devise start-->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!--devise end-->

<%= yield %>

</body>
</html>
